<header>
  <nav>
    <a href="/">Rivas Recipes</a>
    <ul>
      <li><a href="/authors">Chefs</a></li>
      <li><a href="/authors/new">Add Chef</a></li>
      <li><a href="/books">Recipes</a></li>
      <li><a href="/books/new">Add Recipe</a></li>
    </ul>
  </nav>
</header>