Main login/register page 


<header>
  <nav>
    <a href="/"> Rivas Recipes</a>
    <ul>
      <li><a href="/authors">Recipes</a></li>
      <li><a href="/authors/new">Add Chef</a></li>
      <li><a href="/books">Recipes<Book/a></li>
      <li><a href="/books/new">Add Recipe </a></li>
      </ul>
    </nav>
</header>